@page
@model IndexModel
@{
    ViewData["Title"] = "Rent Property";
}
<!--added some images on the front page-->
<div class="text-center">
    <h1 class="display-3">Welcome</h1>
    <h2 class="display-4">The #1 place for commercial property</h2>
    <img src ="~/images/property.jpg"/>
    <img src ="~/images/property1.jpg"/>
    <img src ="~/images/property2.jpg"/>
    <p>We have offices nationwide and our agents are qualified and experienced – on average, our agents have over eight years of experience. Many of our agents are also business owners who have invested in the brand and are committed to excellence in service standards.We are passionate about Marketing your home, we have access to all the traditional marketing mediums that you would expect, but we also believe we have some more innovative ways as well.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
